.word-item {
  display: flex;
  align-items: center;
  padding: 5px 0;
  white-space: nowrap;
  & + .word-item {
    border-top: 1px solid #d9d9d9;
  }

  .value {
    width: 50%;
    text-align: right;
  }
  .translate {
    width: 50%;
  }
  .coverable {
    cursor: pointer;
  }
  .cover {
    cursor: pointer;
    border-radius: 6px;
    color: transparent;
    background-color: grey;
  }
}
