.words-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  .sort-btn {
    display: flex;
  }
  h4 {
    cursor: pointer;
    margin: 0;
  }
  .complexity {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}
